doctype html 
html 
    head
        title Osama Dance Academy
        style 
            include ../static/style.css 
    body 
        nav#navbar 
            ul 
                div#logo 
                    img(src="logomain.png")
                    | ODA
                li #[a(href="/") Home]
                li #[a(href="/") About] 
                li #[a(href="/") Services] 
                li #[a(href="/") Class Info] 
                li #[a(href="/") Contact Us]

        section#introSection
            div Welcome to Osama's Dance Academy 
            div.small Eat Sleep Dance Repeat 

        section#missionSection
            h2 Our Mission
            div.card
                h3 this is a pargraph
            div.card
                h3 this is a pargraph
            div.card
                h3 this is a pargraph
        section#sponsorSection
            h2 Our Sponsers 

        footer#footer
            | our footer here 


        script 
            include ../static/index.js 