@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Kanadaka', cursive;
}

#logo {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 50px;
    width: 50px;
}

#navbar {
    background-color: rgb(196, 68, 68);
    padding: 13px 14px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

#navbar li {
    list-style: none;
}

#navbar li a{
    text-decoration: none;
    padding:  10px 30px;
    color: white;
    font-size: 1.3rem;
}

#navbar li a:hover {
    color: aqua;
}

#introSection {
    background: center / cover no-repeat url("dance.jpg");
    height: 388px;
    color: white;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introSection div.small {
    font-size: 33px;
}

#missionSection {
    height: 390px;
    background-color: aqua;
}

#missionSection h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 38px;
    position: relative;
    top: 1%;
}

.card {
    width: 28%;
    display: inline-block;
    border-radius: 10px;
    height: 255px;
    border: 2px solid black;
    margin: 30px 40px;
}

.card h3 {
    text-align: center;
    margin: 10px;
}

#sponsorSection {
    height: 300px;
    background-color: rgb(240, 110, 110);
}

#sponsorSection h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 38px;
}

#footer {
    height: 100px;
    background-color: black;
    color: white;
}